a{
    color: gray;
}

.header{
    background-color: #212121;
    box-shadow: 1px 1px 4px 0 rgb(red, green, blue);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.header li{
    float: left;
    
}

.header ul a{
    
    display: block;
    padding: 20px 30px;
    text-decoration: none;
}

.header ul a:hover{
    background-color: #181818;
}

.header .logo{
    float: left;
    font-size: 25px;
    padding: 10px 20px;
}

.header .menu{
    clear: none;   
    float: right;    
}
.header .menu-btn{
    display: none;
}
