*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing:border-box;
}

/* .navbar {
    overflow: hidden;
    margin:0 auto;
    width: 90%;
    max-width: 700px;
    background-color: #333;

}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.navbar a:hover{
    background-color: #181818;
} */

fieldset{
    padding: 30px 40px;
}

.form-att{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
}
    /* form{
     width: 90%;
    max-width: 700px;
   }  */

.form-att .input-group{
    margin-bottom: 30px;
}
.form-att input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid;
    font-size: 15px;
}
.form-att button{
    padding: 10px 0;
    border: 1px solid;
    width: 100%;
    cursor: pointer;
}
.form-att .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-att .row .input-group{
    flex-basis: 48%;
}


